@charset "ISO-8859-1";

.searchResults{
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.getAll {
    padding: 0 0 0 0;
}

.card {
    margin: 0;
}