@charset "UTF-8";

/* icons */
/* <i class="fa-thin fa-objects-column fa-xs"></i> */

*{
    /* background-color: pink; */
}

.link {
	padding-left: 15px;
	font-size: 25px;
	text-decoration: none;
}

/* Test Juli */